.wikilink {
    color: #000099;
    border-bottom: 1px dashed #000099;

    &:hover {
        color: #999999;
        border-color: #999999;
    }
}

.wikilink-missing {
    color: #990000;
    border-color: #990000;
}

nav.wiki-lite {
    li {
        margin: 0.5em;
        display: inline-block;
    }

    a {
        display: block;
        padding: 0.5em;
    }

    a:hover {
        padding: calc(0.5em - 1px);
        border: 1px solid $color-primary-light;
        background-color: $color-background-panel;
    }
}

nav.wiki-lite-link-backs {
    border-top: 1px solid $color-primary;
}

article.wiki-lite {
    border-bottom: 5px solid $color-secondary;
    margin-bottom: 1em;

    p {
        margin-left: 1em;
        margin-right: 1em;
    }
}

ul.wiki-lite-revision-list {
    li {
        display: grid;
        grid-template-columns: 5em 5em 10em auto;

        span {
            grid-column-start: span 1;
        }
    }
}

div.wiki-lite-diff-header {
    margin-top: 0.5em;
    border-top: 1px solid $color-primary;
    padding-top: 0.5em;
}

ul.wiki-lite-diff-item {
    display: grid;
    grid-template-columns: 50% 50%;

    li {
        grid-column-start: span 1;
        text-align: center;
    }
}

pre.wiki-lite-diff {
    margin-top: 0.5em;
    border-top: 1px solid $color-primary;
    padding-top: 0.5em;
}